* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.carrito-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.card-body,
.card-total,
#metodo-carrito,
h3,
#form-tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}