* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #161815;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 75%;
    margin: auto;
    padding: 1rem;
}

.section-padding {
    padding: 70px 0;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 25px;
}

.carousel-item {
    height: 80vh;
    min-height: 300px;
    margin-top: 15px;
}

.carousel-responsive .carousel-item img {
    display: block;
    max-width: 100%;
    height: auto;
}


.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 65%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

@media (min-width:700px) and (max-width: 977px) {
    #carouselE {
        height: auto;
        width: auto;
    }

    #carouselE img {
        height: 90vh;
        width: auto;
    }

    #carouselE .carousel-caption h5 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    #carouselE .carousel-caption p {
        font-size: 12px;
    }
}

@media (min-width:200px) and (max-width: 699px) {
    .card-body {
        height: 30%;
        width: auto;

    }

    .carousel-item {
        height: 50vh;
        min-height: 500px;
        margin-top: 20px;
    }

    .section-padding {
        padding-top: 10px;
    }

    #carouselE {
        height: 100%;
        width: auto;
    }

    #carouselE img {
        height: 100%;
        width: auto;
    }

    #carouselE .carousel-caption h5 {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 5px;
    }

    #carouselE .carousel-caption p {
        width: 25%;
        margin: auto;
        font-size: 10px;
        line-height: 1;
    }
}